services:
  frontend:
    container_name: pengin_party_frontend
    build:
      context: '.'
      dockerfile: './frontend/Dockerfile'
    volumes:
      - ./frontend/my-app:/app
    environment:
      - WATCHPACK_POLLING=true
    tty: true
    # command: sh -c "npm install && npm run dev"
    # command: sh -c "yarn install && yarn dev" # yarnだとうまくいかない
    ports:
      - "3000:3000"
    networks:
      - pengin_party

  backend:
    container_name: pengin_party_backend
    build:
      context: '.'
      dockerfile: './backend/Dockerfile'
    volumes:
      - ./backend:/go/pengin_party
    environment:
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
    ports:
      - "4000:4000"
    networks:
      - pengin_party

  mysql-db:
    container_name: mysql-db
    image: mysql:9.5.0
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
    networks:
      - pengin_party

  redis:
    image: redis:8.4.0
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - pengin_party
    volumes:
      - redis_data:/data

  websocket-server:
    container_name: websocket-server
    build:
      context: '.'
      dockerfile: './websocket/Dockerfile'
    volumes:
      - ./websocket:/app
    environment:
      - WATCHPACK_POLLING=true
    tty: true
    # command: sh -c "npm install && npm run dev"
    # command: sh -c "yarn install && yarn dev" # yarnだとうまくいかない
    ports:
      - "3001:3001"
    networks:
      - pengin_party

volumes:
  mysql_data:
  redis_data:

networks:
  pengin_party:
    driver: bridge